{% if has_next or page > 1 %}
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4">
            <ul class="pager">
                <li class="previous {% if page < 2 %}disabled{% endif %}">
                    <a href="{% if page > 1 %}./?page={{ page - 1 }}{% endif %}">← Previous</a>
                </li>
                <li>{{ page }}</li>
                <li class="next {% if not has_next %}disabled{% endif %}">
                    <a href="{% if has_next %}./?page={{ page + 1 }}{% endif %}">Next →</a>
                </li>
            </ul>
        </div>
    </div>
{% endif %}