<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}"Messages | mysite.com{% endblock %}</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Home</a>
                {% if messages_count or comments_count %}
                    <style>
                        .navbar > .container .navbar-brand {
                            margin-left: 0;
                        }
                        span.navbar-brand, .navbar-default span.navbar-brand:hover {
                            background-color: #ffffff;
                            color: #000000;
                        }
                    </style>
                    <span class="navbar-brand">
                        <span class="label label-danger">
                            {% if messages_count %}
                                <span id="messages-counter">{{ messages_count }}</span> messages
                            {% else %}
                                <span id="messages-counter">{{ comments_count }}</span> first level comments
                            {% endif %}
                        </span>
                    </span>
                {% endif %}
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="link" href="/message/add/?next={{ request_path }}">Add message</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>