{% extends 'base.html' %}
{% block content %}
    <div class="row">
        {% for i in messages %}
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ i.values.1 }}<br/>
                        <a href="/message/{{ i.values.0 }}/" class="btn btn-info btn-xs">More</a>
                    </div>
                </div>
            </div>
            {% if loop.index is divisibleby 3 %}</div><div class="row">{% endif %}
        {% endfor %}
    </div>
    {% include '_pagination.html' %}
{% endblock %}