{% extends 'base.html' %}
{% block content %}
    <div class="row">
        {% set too_big_offset = False %}
        {% for i in messages %}
            {% if i.values.3 > 8 %}
                {# если offset больше 8 отображаем ссылку на родительский комментарий #}
                {% if not too_big_offset %}
                    <div style="padding: 0 10px 20px 10px" class="panel-body">
                        <a href="/message/{{ i.values.2 }}/" class="btn pull-right btn-danger btn-xs">...</a>
                    </div>
                    {% set too_big_offset = True %}
                {% endif %}
            {% else %}
                {% set too_big_offset = False %}
                <div id="message-{{ i.values.0 }}" data-message-id="{{ i.values.0 }}" data-offset="{{ i.values.3 }}" class="parent-message-{{ i.values.2 }} col-xs-offset-{{ i.values.3 }}">
                    <div class="panel panel-{% if loop.first %}info{% else %}default{% endif %}">
                        <div class="panel-body">
                            <span class="label label-danger">{{ i.values.0 }}</span>
                            <p>{{ i.values.1 }}</p>
                            {% if not loop.first %}<a href="/message/{{ i.values.0 }}/" class="btn pull-right btn-danger btn-xs">More</a>{% endif %}
                            <span for="message-{{ i.values.0 }}" data="/message/{{ i.values.0 }}/add/" class="add-comment btn btn-info btn-xs">Comment</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% include '_pagination.html' %}
    <div style="display: none">
        <div id="comment-form-data">
            <form class="form-horizontal" action="." method="get">
                <fieldset>
                    <input type="hidden" name="is_ajax" value="true"/>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="5" name="message" id="textArea"></textarea>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                </fieldset>
            </form>
        </div>
        <div id="message-html-template">
            <div id="message-__message_id__" data-message-id="__message_id__" data-offset="__message_offset__" class="col-xs-offset-__message_offset__ parent-message-__parent_id__">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="label label-danger">__message_id__</span>
                        <p>__message_text__</p>
                        <a href="/message/__message_id__/" class="btn pull-right btn-danger btn-xs">More</a>
                        <span for="message-__message_id__" data="/message/__message_id__/add/" class="add-comment btn btn-info btn-xs">Comment</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).on('click', 'span.add-comment', function(){
            var parent_message = $("#" + $(this).attr('for'));
            var comment_form = $(this).prev('form');
            if (comment_form.length) {
                $.ajax({
                    type: "GET",
                    url: $(this).attr('data'),
                    data: comment_form.serializeArray(),
                    success: function(data) {
                        var parent_id = parent_message.attr('data-message-id');
                        var parent_message_offset = parseInt(parent_message.attr('data-offset'));
                        var message_template = $('#message-html-template').html();
                        var offset = parent_message_offset + 1;
                        if (offset > 8) {
                            // если offset больше 8 - перенаправляем в ветку родительского комментария
                            window.location.href = '/message/' + parent_id + '/';
                        } else {
                            var message_html = message_template
                                    .replace(/__message_id__/g, data)
                                    .replace(/__parent_id__/g, parent_id)
                                    .replace(/__message_offset__/g, offset)
                                    .replace(/__message_text__/g, comment_form.find('textarea').val());
                            var target = $('.parent-message-' + parent_id).last();
                            if (!target.length) {
                                target = parent_message;
                            }
                            target.after(message_html);
                            comment_form.remove();
                            $('#messages-counter').text((parseInt($('#messages-counter').text()) + 1));
                        }
                    }
                });
            } else {
                $(this).before($("#comment-form-data").html());
            }
        });
    </script>
{% endblock %}