{% extends 'base.html' %}
{% block content %}
    <div class="col-lg-8">
        <div class="well">
            <form class="form-horizontal" action="." method="get">
                <input type="hidden" name="next" value="{{ next }}"/>
                <fieldset>
                    <legend>Add your message here.</legend>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <textarea id="textArea" name="message" rows="10" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button class="btn btn-primary  pull-right" type="submit">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}